{% extends 'base_dashboard.html' %}

{% block dashboard_content %}

<div class="row justify-content-center">
  <div class="col-sm-8 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title my-3">Apagar paciente '{{patient.name|capfirst}}'</h5>
        <p class="card-text">Deseja realmente deletar este paciente?</p>
        <p class="card-text">Nome: {{ patient.name }}</p>
        <p class="card-text">Telefone: {{ patient.phone }}</p>
        <p class="card-text">Endereço: {{ patient.address }}</p>
        <p class="card-text">Cidade: {{ patient.city }}</p>
        <p class="card-text">UF: {{ patient.uf }}</p>
        <div class="d-flex justify-content-center gap-3">
          <form action="{% url 'delete_patient' pk=patient.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Apagar</button>
          </form>
          <a href="{% url 'list_patients' %}" class="btn btn-secondary">Cancela</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock dashboard_content %}