{% extends 'base_dashboard.html' %}
{% block dashboard_content %}

<h2>Editar paciente '{{patient.name}}'</h2>
<form class="row g-3" action="{% url 'edit_patient' pk=patient.id %}" method="POST">
  {% csrf_token %}
  {% include 'patients/partials/inputs.html' %}

  <div class="col-12 d-flex justify-content-between">
    <div class="flex-grow-0">
      <a href="{% url 'home' %}" class="btn btn-secondary">Cancela</a>
      <a href="{% url 'edit_patient' pk=patient.id %}" class="btn btn-secondary">Desfazer</a>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar Paciente</button>
  </div>
</form>

{% endblock dashboard_content %}