body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f4d03f;
  background-image: linear-gradient(90deg, #f4d03f 0%, #16a085 100%);
}

@media (min-width: 768px) {
  .main-dashboard {
    height: 100%;
  }
}