{% extends 'base_dashboard.html' %}

{% block dashboard_content %}

<h2>Editar Usuário '{{user.name}}'</h2>
<form class="" action="{% url 'edit_user' %}" method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="{{ form.name.id_for_label }}" class="form-label">
      {{ form.name.label }}</label>
    {{ form.name }}
  </div>

  <div class="mb-3">
    <label for="{{ form.email.id_for_label }}" class="form-label">
      {{ form.email.label }}</label>
    {{ form.email }}
  </div>

  <div class="mb-3">
    <label for="{{ form.password.id_for_label }}" class="form-label">
      {{ form.password.label }}</label>
    {{ form.password }}
  </div>

  <div class="mb-3">
    <label for="{{ form.password_confirm.id_for_label }}" class="form-label">
      {{ form.password_confirm.label }}</label>
    {{ form.password_confirm }}
  </div>

  <div class="row g-3">
    <div class="col d-flex">
      <a href="{% url 'delete_user' %}" class="btn btn-danger flex-grow-1 ">Encerrar Conta</a>
    </div>
    <div class="col d-flex gap-2">
      <a href="{% url 'home' %}" class="btn btn-secondary flex-grow-1 d-flex align-items-center justify-content-center">Cancela</a>
      <a href="{% url 'edit_user' %}" class="btn btn-secondary flex-grow-1 d-flex align-items-center justify-content-center">Desfazer</a>
    </div>
    <div class="col d-flex">
      <button type="submit" class=" btn btn-primary flex-grow-1">Atualizar</button>
    </div>
  </div>

</form>

{% endblock dashboard_content %}