<div class="col-md-12">
  <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
  {{ form.name }}
</div>

<div class="col-md-6">
  <label for="{{ form.phone.id_for_label }}" class="form-label">{{ form.phone.label }}</label>
  {{ form.phone }}
</div>

<div class="col-md-6">
  <label for="{{ form.cep.id_for_label }}" class="form-label">{{ form.cep.label }}</label>
  {{ form.cep }}
</div>

<div class="col-md-9">
  <label for="{{ form.address.id_for_label }}" class="form-label">{{ form.address.label }}</label>
  {{ form.address }}
</div>

<div class="col-md-3">
  <label for="{{ form.address_number.id_for_label }}" class="form-label">{{ form.address_number.label }}</label>
  {{ form.address_number }}
</div>

<div class="col-md-4">
  <label for="{{ form.city.id_for_label }}" class="form-label">{{ form.city.label }}</label>
  {{ form.city }}
</div>

<div class="col-md-4">
  <label for="{{ form.uf.id_for_label }}" class="form-label">{{ form.uf.label }}</label>
  {{ form.uf }}
</div>

<div class="col-md-4">
  <label for="{{ form.country.id_for_label }}" class="form-label">{{ form.country.label }}</label>
  {{ form.country }}
</div>

<!-- Modal CEP error-->
<div class="modal fade" id="cepErrorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="cepErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cepErrorModalLabel">CEP inválido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Verifique se o CEP é válido!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Inputs masks -->
<script>
  // Phone mask
  $(document).ready(function () {
    const mobileMask = "(00) 00009-0000";
    const landlineMask = "(00) 0000-0000";

    $("#id_phone").mask(mobileMask);

    $("#id_phone").keyup(function (event) {
      const len = $(this).val().length;

      const isMobile = $(this).val().substring(5, 6) == 9;

      if (!isMobile && len < 14) {
        this.setCustomValidity("Please use at least 14 characters")

      } else if (isMobile && len < 15) {
        this.setCustomValidity("Please use at least 15 characters")

      } else {
        this.setCustomValidity("")
      }


      if (isMobile) {
        $(this).mask(mobileMask);
      } else {
        $(this).mask(landlineMask);
      }
    });
  });

  // CEP mask
  $(document).ready(function () {
    $("#id_cep").mask("00000-000");
  });
</script>

<!-- Fetch CEP -->
<script>
  $(document).ready(function () {
    let previousCepValue = "";

    $("#id_cep").keyup(function (event) {
      const cep = $(this).val();
      const cepNumeric = cep.replace(/\D/g, '');

      const hasCepChanged = cepNumeric !== previousCepValue

      if (hasCepChanged && cepNumeric.length === 8) {
        previousCepValue = cepNumeric;

        getAddressInfo(cepNumeric)
      }
    })

    function getAddressInfo(cep) {
      $.get("https://viacep.com.br/ws/" + cep + "/json/", function (data) {
        if (!data.erro) {
          autoFillAddressFields(data)

          focusToAddressNumberField()
        } else {
          openCepErrorModal()

          cleanAddressFields()
        }
      });
    }

    function autoFillAddressFields(data) {
      $("#id_address").val(data.logradouro)
      $("#id_city").val(data.localidade)
      $("#id_uf").val(data.uf)
      $("#id_country").val("Brasil")
    }

    function focusToAddressNumberField() {
      $("#id_address_number").val("")
      $("#id_address_number").focus()
    }

    function openCepErrorModal() {
      $("#cepErrorModal").modal("show")
    }

    function cleanAddressFields() {
      $("#id_address").val("")
      $("#id_address_number").val("")
      $("#id_city").val("")
      $("#id_uf").val("")
      $("#id_country").val("")
    }
  })
</script>