{% extends 'base_dashboard.html' %}
{% block dashboard_content %}

<h2>Editar Agendamento</h2>
<form class="row g-3" action="{% url 'edit_schedule' pk=schedule.id %}" method="POST">
  {% csrf_token %}

  {% for field in form %}
    <div class="col-12">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
  
  <div class="col-12 d-flex justify-content-between ">
    <div class="flex-grow-0">
      <a href="{% url 'list_schedules' %}"  class="btn btn-secondary">Cancela</a>
      <a href="{% url 'edit_schedule' pk=schedule.id %}" class="btn btn-secondary">Desfazer</a>
    </div>
    <button type="submit" class="btn btn-primary" id="liveToastBtn">Atualizar</button>
  </div>
</form>

{{schedule.date}}

{% endblock dashboard_content %}
